# Copy this file to .env and fill in your keys.
GEMINI_API_KEY=(Google AI Studio -> Create Key)
YOUTUBE_API_KEY=(Google Cloud Platform -> Enable Youtube -> Create Credentials)
REAL_DEBRID_TOKEN=(Paid Service)
VIRUS_TOTAL_TOKEN=(Free Tier)